@font-face {
  font-display: swap;
  font-family: "Delius Unicase";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/delius-unicase-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v50-latin-500.woff2") format("woff2");
}
h1,
h2,
span {
  margin-top: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  margin-bottom: 80px;
  font-family: "Delius Unicase";
  font-size: 36px;
  font-weight: 400;
  line-height: 1, 25;
  text-align: center;
}
.section {
  padding: 60px 0;
}
.architec-section {
  padding-top: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}

.gal_item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.gal_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.col_2 {
  grid-column: span 2;
}
.row_2 {
  grid-row: span 2;
}

.second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}
